<%- include('./partial/header.ejs') %>
    
    <h1>about</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi reprehenderit non maiores vel! Exercitationem aperiam voluptatum veniam distinctio impedit sunt inventore. Est vel, aut ad, sit sed non eveniet deleniti maxime aliquid, dolorem in laudantium tempora exercitationem perspiciatis architecto nisi reprehenderit temporibus nulla nam minima voluptatibus omnis. Quia, nihil dolorum.</p>
<%- include('./partial/footer.ejs') %>